DATABASE_URL=postgresql://postgres:[PASSWORD]@db.fnrgysijohuybdrihhmg.supabase.co:5432/postgres
MONGODB_URI=mongodb+srv://app_granja:[PASSWORD]@granja-cluster.l9ero0c.mongodb.net/granja_analytics?appName=granja-cluster
JWT_SECRET=una_clave_secreta_larga_y_aleatoria
JWT_EXPIRES_IN=8h
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
